* {
  padding: 0;
  margin: 0;
}

body {
  background: violet;
  font-family: 'Times New Roman';
}

nav {
  border-radius: 5px 5px 5px 5px;
}
#headerDiv {
  margin: auto;
  width: 550px;
  font-family: 'Times New Roman';  
}

ul, ol, li {
  list-style: none;
}

.mainUl {
  background-color: black;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  height: 40px;
  width: 457px;
}
.mainUl li a {
  background: pink;
  background-color: #99000;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;  
}

.mainUl li a:hover {
  background-color: #D6234A;
  color: white;
}

.mainUl > li {
  float: left;
}

.mainUl li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.mainUl li:hover > ul {
  display: block;
}

#solService {
  background: #CD5C5C;
  background: gray;
  width: 500px;
  margin: auto;
  display: none;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

#sdtInfo{  
  background-color: #CD5C5C;
  color: white;
  width: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  display: none;
}

p a {
  text-decoration: none;
}

#formContainer {
  padding: 50px;
  background: #CD5C5C;
  width: 600px;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
}

#formContainer form div button{
  padding: 10px;
  width: 200px;
  background: black;
  color: white;
}